.letterpress {
  display: none;
}

.shortcuts {
  display: none;
}

#workbench\.parts\.sidebar > div.composite.title {
  display: none;
}

#workbench\.parts\.sidebar {
  height: 100vh !important;
}

#workbench\.parts\.sidebar > div.content {
  height: 100dvh !important;
}

#workbench\.view\.explorer {
  height: 100dvh !important;
}

#workbench\.view\.explorer
  > div
  > div
  > div.monaco-scrollable-element.mac
  > div.split-view-container
  > div {
  height: 100dvh !important;
}

#workbench\.view\.scm
  > div
  > div
  > div.monaco-scrollable-element.mac
  > div.split-view-container
  > div {
  height: 100dvh !important;
}

#workbench\.view\.scm
  > div
  > div
  > div.monaco-scrollable-element.mac
  > div.split-view-container
  > div
  > div
  > div.pane-body
  > div {
  height: 100dvh !important;
}
